---
layout: post
title: "Advice to me"
subtitle: Read this article whenever your thoughts get complicated.
header-img: img/theme.jpg
header-mask: rgba(40, 57, 101, .4)
catalog: true
hide-author: true
multilingual: true
---

<!-- Korean Version -->
<div class="kr post-container">
    {% capture docs_kr %}{% include docs/Advice-to-me_kr.md %}{% endcapture %}
    {{ docs_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture docs_en %}{% include docs/Advice-to-me_en.md %}{% endcapture %}
    {{ docs_en | markdownify }}
</div>