---
layout: post
title: $2. [CODEFORCES] A. Team
subtitle: 
header-img: /img/CODEFORCES/231A.png
header-style: text
catalog: true
katex: True
multilingual: true
tags:
  - 2024
  - brute force
  - greedy
  - 800
---

<!-- Korean Version -->
<div class="kr post-container">
    {% capture docs_kr %}{% include CODEFORCES/4A/2024-01-05-231A_kr.md %}{% endcapture %}
    {{ docs_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture docs_en %}{% include CODEFORCES/4A/2024-01-05-231A_en.md %}{% endcapture %}
    {{ docs_en | markdownify }}
</div>