---
layout: post
title: $3. [CODEFORCES] A. Exams
subtitle: 
header-img: /img/CODEFORCES/194A.png
header-style: text
catalog: true
katex: True
multilingual: true
tags:
  - 2024
  - implementation
  - math
  - 900
---

<!-- Korean Version -->
<div class="kr post-container">
    {% capture docs_kr %}{% include CODEFORCES/194A/2024-01-06-194A_kr.md %}{% endcapture %}
    {{ docs_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture docs_en %}{% include CODEFORCES/194A/2024-01-06-194A_en.md %}{% endcapture %}
    {{ docs_en | markdownify }}
</div>