---
layout: post
title: $4. [CODEFORCES] A. Way Too Long Words
subtitle: 
header-img: /img/CODEFORCES/71A.png
header-style: text
catalog: true
katex: True
multilingual: true
tags:
  - 2024
  - strings
  - 800
---

<!-- Korean Version -->
<div class="kr post-container">
    {% capture docs_kr %}{% include CODEFORCES/71A/2024-01-07-71A_kr.md %}{% endcapture %}
    {{ docs_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture docs_en %}{% include CODEFORCES/71A/2024-01-07-71A_en.md %}{% endcapture %}
    {{ docs_en | markdownify }}
</div>