---
layout: post
title: $1. [LeetCode] 70. Climbing Stairs
subtitle: 
header-img: /img/LeetCode/70.png
header-style: text
catalog: true
katex: True
multilingual: true
tags:
  - 2024
  - Math
  - DP
  - Memoization
---

<!-- Korean Version -->
<div class="kr post-container">
    {% capture docs_kr %}{% include LeetCode/70/2024-01-05-70_kr.md %}{% endcapture %}
    {{ docs_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture docs_en %}{% include LeetCode/70/2024-01-05-70_en.md %}{% endcapture %}
    {{ docs_en | markdownify }}
</div>